# Test fixture
apiVersion=v32.0
username=user@domain.com
password=secretcode
clientId=long-alphanumeric-sequence
clientSecret=shorter-numeric-sequence
loginEndpoint=https://login.salesforce.com
redirectURI=http://localhost:5000/_auth
